@model MVCMiniProjects.Models.Loan



<div class="row pt-5 gy-3">
    <div class="col-md-4 p-3">
        <form asp-controller="Home" asp-action="Loan" method="post">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <label class="form-label" asp-for="LoanAmount">Loan Amount</label>
                </div>
                <div class="col">
                    <input class="form-control" id="loanAmount" asp-for="LoanAmount" value="@Model.LoanAmount" placeholder="$0.00" type="number" min="100" required>
                </div>
            </div>

            <div class="row align-items-center mt-2">
                <div class="col-md-4">
                    <label class="control-label" asp-for="Term">Term (Months)</label>
                </div>
                <div class="col">
                    <input class="form-control" id="term" asp-for="Term" value="@Model.Term" placeholder="0" type="number" min="1" required>
                </div>
            </div>

            <div class="row align-items-center mt-2">
                <div class="col-md-4">
                    <label class="control-label" asp-for="InterestRate">Interest Rate</label>
                </div>
                <div class="col">
                    <input class="form-control" id="rate" asp-for="InterestRate" value="@Model.InterestRate" placeholder="0%" type="number" min="1" required>
                </div>
            </div>

            <div class="row mt-2 pt-2">
                <div class="col-12 d-flex justify-content-end align-items-end">
                    <button class="btn btn-success" type="submit" onclick="MakeVisible()">Calculate</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8 bg-pimary border border-1 border-dark p-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold">Your Monthly Payments</h2>
            </div>

            <div class="col-12 text-center pt-5">
                @{
                    var monthlyPayment = (Model.PaymentDetails.Count > 0) ? Model.PaymentDetails[0].Payment : 0;
                    <h2 class="fw-bold">@($"{monthlyPayment:c}")</h2>
                }
            </div>

            <div class="col-12 d-flex justify-content-evenly pt-5">
                <div>
                    <h6 class="" id="totalPrincipal"> @Html.DisplayNameFor(model => model.TotalPrincipal)</h6>
                    <h6 class="" id="totalInterest">@Html.DisplayNameFor(model => model.TotalInterest)</h6>
                    <h6 class="" id="totalCost">@Html.DisplayNameFor(model => model.TotalCost)</h6>
                </div>

                <div>
                    <h6>@($"{Model.TotalPrincipal:c}")</h6>
                    <h6>@($"{Model.TotalInterest:c}")</h6>
                    <h6>@($"{Model.TotalCost:c}")</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-3 border">
        <div class="bg-light rounded">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Principal</th>
                        <th scope="col">Interest</th>
                        <th scope="col">Total Interest</th>
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody id="loanTable">
                    @{
                        foreach(var loan in Model.PaymentDetails)
                        {
                            <tr>
                                <td>@loan.Month</td>
                                <td>@($"{loan.Payment:c}")</td>
                                <td>@($"{loan.Principal:c}")</td>
                                <td>@($"{loan.Interest:c}")</td>
                                <td>@($"{loan.TotalInterest:c}")</td>
                                <td>@($"{loan.Balance:c}")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
